@charset "utf-8";

@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

* {
  font-family: 'Godo', sans-serif;
}


* {
  min-height: 0;
  min-width: 0;
}

.ViewScreen {
  width: 100vw;
  height: 100vh;
  position: relative;
  .whole-page-video-area{
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
  .whole-page-image-area{
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-size: cover;
    background-position: center;
  }
  .top-area {
    width: inherit;
    height: 90%;
    display: flex;
    flex-direction: row;
    .left-area {
      width: 75%;
      height: calc(100% - 20px);
      border: 10px solid rgba(243, 140, 30, 0.7);
      .slide-area {
        height: calc(74.95% + 5px);
        overflow: hidden;
        .img-wrapper {
          display: flex;
          align-items: center;
          height: calc((90vh - 20px) * 0.7495 + 5px);
          width: calc(75vw + 5px);
          img {
            width: 100%;
          }
        }
      }
      .info-area {
        font-size: 2em;
        height: calc(25.05% - 5px);
        display: flex;
        flex-direction: row;
        .left-area {
          border: none;
          flex: 3;
          height: 100%;
          .first-row {
            height: 34%;
            display: flex;
            border-top: 1px solid #d7d7d7;
            flex-direction: row;
            .left {
              flex: 13;
              height: 100%;
              border-right: 1px solid #d7d7d7;
              border-bottom: 1px solid #d7d7d7;
              display: flex;
              align-items: center;
              .type {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 3px solid #f38c1e;
                color: #f38c1e;
                font-weight: bold;
                border-radius: 4rem;
                width: 15%;
                height: 55%;
                font-size: 1.5rem;
                text-align: center;
                margin-left: 15px;
              }
              .desc {
                font-size: 2rem;
                margin-left: 2%;
                padding-top: 1%;
                color: #838480;
              }
            }
            .right {
              flex: 7;
              height: 100%;
              border-bottom: 1px solid #d7d7d7;
              .title {
                font-size: 0.95rem;
                color: #61615f;
                padding: 6px;
              }
              .desc {
                text-align: right;
                font-size: 1.5rem;
                color: #42423f;
                padding-right: 15px;
              }
            }
          }
          .second-row {
            height: 22%;
            border-bottom: 1px solid #d7d7d7;
            display: flex;
            flex-direction: row;
            .left {
              flex: 13;
              height: 100%;
              display: flex;
              flex-direction: row;
              .title {
                flex: 3;
                padding-left: 10px;
                display: flex;
                align-items: center;
                span {
                  font-size: 0.95rem;
                  color: #61615f;
                }
              }
              .desc {
                flex: 7;
                display: flex;
                align-items: center;
                span {
                  font-size: 0.95rem;
                  color: #42423f;
                }
              }
            }
            .right {
              flex: 7;
              height: 100%;
              display: flex;
              flex-direction: row;
              .title {
                flex: 45;
                padding-left: 10px;
                display: flex;
                align-items: center;
                span {
                  font-size: 0.95rem;
                  color: #61615f;
                }
              }
              .desc {
                flex: 55;
                text-align: right;
                padding-right: 10px;
                display: flex;
                align-items: center;
                span {
                  font-size: 0.95rem;
                  color: #42423f;
                }
              }
            }
          }
          .third-row {
            border-bottom: 1px solid #d7d7d7;
            height: 22%;
            display: flex;
            flex-direction: row;
            .title {
              flex: 195;
              padding-left: 10px;
              display: flex;
              align-items: center;
              span {
                font-size: 0.95rem;
                color: #61615f;
              }
            }
            .desc {
              flex: 805;
              display: flex;
              align-items: center;
              span {
                font-size: 0.95rem;
                color: #42423f;
              }
            }
          }
          .fourth-row {
            height: 22%;
            display: flex;
            flex-direction: row;
            .title {
              flex: 195;
              padding-left: 10px;
              display: flex;
              align-items: center;
              span {
                font-size: 0.95rem;
                color: #61615f;
              }
            }
            .desc {
              flex: 805;
              display: flex;
              align-items: center;
              span {
                font-size: 0.95rem;
                color: #42423f;
              }
            }
          }
        }
        .right-area {
          flex: 1;
          height: 100%;
          border-left: 1px solid #d7d7d7;
          border-top: 1px solid #d7d7d7;
          .top {
            height: 67%;
            .title {
              padding: 10px;
              font-size: 1.7rem;
              color: #61615f;
            }
            .desc {
              padding-top: 6%;
              padding-right: 10px;
              text-align: right;
              .price {
                font-size: 2.6rem;
                color: #e40304;
                font-weight: bold;
                .residue {
                  font-size: 0.6em;
                  color: #555;
                  font-weight: bold;
                }
              }
            }
          }
          .bottom {
            height: 33%;
            border-top: 1px solid #d7d7d7;
            .title {
              padding-left: 10px;
              padding-top: 10px;
              font-size: 0.95rem;
              color: #61615f;
            }
            .desc {
              padding-right: 10px;
              padding-bottom: 10px;
              text-align: right;
              font-size: 1.3rem;
              color: #61615f;
            }
          }
        }
      }
    }
    .right-area {
      width: 25%;
      height: 100%;
      .banner-area {
        height: 11.2%;
        background-image: url(http://realty.mfamily.co.kr/images/productlist_bg.jpg);
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;
        font-weight: bold;
        color: #4b4b4b;
      }
      .item-list-area {
        height: 63.75%;
        overflow: hidden;
        position: relative;
        .overlay {
          position: absolute;
          left: 0;
          width: 100%;
          top: 120px;
          height: calc(100% - 120px);
          background: rgba(243, 140, 30, 0.4)
        }
        .item {
          height: 120px;
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid #d7d7d7;
          .image-area {
            width: 30%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .info-area {
            width: 70%;
            .first-row {
              height: 50%;
              padding-top: 2%;
              padding-left: 2%;
              .type {
                color: #f38c1e;
                font-size: 1.2rem;
                margin-right: 1%;
              }
              .title {
                color: #b1b2ae;
                font-size: 1.0rem;
              }
            }
            .next-row {
              height: 25%;
              .left {
                font-size: 0.75rem;
                padding-left: 2%;
                float: left;
                display: inline-block;
                width: 60%;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
              }
              .right {
                font-size: 0.75rem;
                padding-right: 2%;
                float: right;
              }
            }
          }
        }
      }
      .store-info-area {
        height: 25.05%;
        background: black;
        background-image: url(http://realty.mfamily.co.kr/images/name_bg.jpg);
        background-size: 100% 100%;
        padding: 2% 0 0 3%;
        .storeName{
          color: #4b4b4b;
          font-size: 2.4em;
          padding-bottom: 3%;
          font-weight:bold;
        }
        .row{
          margin-bottom: 1%;
          color: #4b4b4b;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }
  .bottom-area {
    width: inherit;
    height: 10%;
    background: #353f49;
    background-image: url(http://realty.mfamily.co.kr/images/footer_imgbg.png);
    position: relative;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .marquee-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .marquee {
        font-size: 3rem;
        color: white;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        animation: marquee 10s linear infinite;
      }
      /* Make it move */
      @keyframes marquee {
        0% {
          text-indent: 100%
        }
        100% {
          text-indent: -20%
        }
      }
    }

  }

}
